<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <body>
        <form>
            <form action="/src/main/java/com/collectinfo/project02/controller/CloudAPIservice.java"  method="post"
            >
                <label for="fname">User Name:</label><br>
                <input type="text" id="user_name" name="uname"><br>
                <label for="user_id">User ID:</label><br>
                <input type="text" id="user_id" name="uid"> 
                <label for="user_phno">User phno:</label><br>
                <input type="text" id="user_phno" name="uno">
                <button type="submit">Submit</button>
              </form>
        </form>
    </body>
</head>
</html>